@import url("https://rsms.me/inter/inter.css");

@keyframes fade {
    from {
        opacity: 1;
        bottom: 40px;
    }

    to {
        opacity: 0;
        bottom: 0px;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter", Helvetica, sans-serif;
}

canvas {
    padding: 80px 24px 24px 24px;
}

p {
    color: black;
    font-size: 13px;
}

.projectName {
    position: fixed;
    top: 16px;
    width: 100vw;
    height: 80px;
    left: 24px;
    color: black;
    font-size: 23px;
    line-height: 1.25;
}

.instructions {
    position: absolute;
    width: 100vw;
    height: 24px;
    bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    filter: invert(1);
    mix-blend-mode: overlay;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mobile {
    visibility: hidden;
}

@media only screen and (max-width: 376px) {

    canvas {
        padding: 80px 16px 16px 16px;
    }

    .projectName {
        left: 16px;
    }

    .mobile {
        visibility: visible;
    }

    .desktop {
        visibility: hidden;
    }
}